* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url("./frutiger-aero-10.png");
    background-size: cover;
    font-family: "Tajawal", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.principal {
    background-color: rgba(28, 79, 230, 0.192);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

.pesquisar {
    display: flex;
    margin: 20px;
    background-color: rgb(70, 144, 228);
    border-radius: 20px;
    padding: 5px 10px;
}

.btn-pesquisar {
    background-color: transparent;
    border: none;
}
input{
background-color: transparent;
border: none;
flex-grow: 1;
}
input:focus{
    outline: none;
}
input::placeholder{
   color: black;
}